@model List<OJAWeb.Models.JobRegionListModel>

@{
    ViewData["Title"] = "Job Region List";
}

<style>
    td {
        text-align: center;
    }

    th {
        text-align: center;
    }

    h2 {
        color: #e96514;
        margin: 0px;
    }

    @@media screen and (max-width: 767px) {
        .main-content {
            padding: 0px;
        }
    }

    .panel .panel-heading, .panel .panel-body, .panel .panel-footer {
        padding-left: 0px;
        padding-right: 0px;
    }
</style>

<h3 class="title" style="text-align:center;padding-bottom: 10px;padding-top: 20px;">Jobs List</h3>
<div id="wrapper">
    <div class="main">
        <div class="main-content">
            <div class="panel">
                <div class="panel-body">
                    <table class="table" id="jobregionlist">
                        <thead>
                            <tr>
                                <th>No.</th>
                                <th>State</th>
                                @*<th>Company</th>*@
                                <th>Distribution Center</th>
                                <th>Department</th>
                                <th>Position</th>
                                <th></th>

                            </tr>
                        </thead>
                        @{ int a = 0; }
                        <tbody>
                            @foreach (OJAWeb.Models.JobRegionListModel item in Model)
                            {
                                <tr>
                                    <td>
                                        @(++a)
                                    </td>
                                    <td>
                                        @item.Region_Name
                                    </td>
                                    @*<td>
                                        @item.Company_Name
                                    </td>*@
                                    <td>
                                        @item.DC_Code
                                    </td>
                                    <td>
                                        @item.Dep_Name
                                    </td>
                                    <td>
                                        @item.Position_Name
                                    </td>
                                    <td>
                                        <a href="@Url.Action("JobDescription", "Home",new { id = item.Position_ID })">
                                            @*<div style="display: none;">@item.Position_ID</div>*@
                                            <span class="icon"><i class="fa fa-search" style="color: #ed6d00;" title="View Job"></i></span>
                                        </a>
                                    </td>

                                    @*<td>
                                            @Html.TextBoxFor(modelItem => item.Position_ID, new { type = "text", Style = "width:100%;", @class = "form-control" })
                                            <button type="submit" class="btn" onclick="getid(@item.Position_ID)">View Job</button>
                                                @Html.ActionLink("View", "JobDescription", "Home", null, new { id = 9 })
                                        </td>*@
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/js/filtertable.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#jobregionlist').filterTable();
        });
        @*function getid(positionid) {
                try {
                    $.ajax({
                        url: "JobDescription",
                        type: "POST",
                        data: { id: positionid },
                        success: function (response) {
                            window.location = "@Url.Action("JobDescription", "Home", new { id=1 })";
                        },
                        error: function (error) {
                            alert(error);
                        }
                    });
                }
                catch (e) {
                    alert(e.message);
                }
            }*@
    </script>
}