@model OJAWeb.Models.InfoModel

@{
    ViewBag.Title = "Profile Edit";
}

@{
    Layout = "~/Views/Shared/_FormLayout.cshtml";
}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />

@if (TempData["Message"] != null)
{
    @*<span style="color:red;">@TempData["Message"].ToString()</span>*@
    <script type="text/javascript">
            window.onload = function () {
                alert('@TempData["Message"].ToString()');
            };
    </script>

}

<style>

    .nav_navbar a {
        text-decoration: none;
    }

    body {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        padding-bottom: 0px;
    }

    .form textarea {
        outline: 0;
        background: #f2f2f2;
        width: 100%;
        border: 0;
        margin: 0 0 15px;
        padding: 15px;
        box-sizing: border-box;
        font-size: 14px;
        border: 1px solid #ccc;
        background-color: #fff;
    }

    textarea.form-control {
        height: auto;
    }

    @@media (min-width: 768px) {
        .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
            margin-left: 0px;
        }
    }

    h3, .h3 {
        font-size: 28px;
    }

    h1, .h1, h2, .h2, h3, .h3 {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    h1, h2, h3, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
        color: #e96514;
    }
</style>

@using (Html.BeginForm("AboutMeEdit", "Applicant", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12" style="padding-left: 200px;padding-top: 20px;padding-bottom: 80px;">
                <h3 class="title" style="text-align:left;padding-bottom: 10px;">
                    About Me
                    @*<a class="btn" href="@Url.Action("AboutMe", "Applicant")"><< Back</a>*@
                </h3>
                @foreach (var model in Model.usersinfo)
                {
                    <div class="form" id="form">
                        <div class="col-md-12">
                            <div style="background-color:#d6d6c2">Personal Particulars</div>
                        </div>

                        <div class="col-md-6">
                            @Html.Label("First Name : ")
                            @Html.TextBoxFor(modelItem => model.User_ShortName, new { type = "text", placeholder = "Please Fill In *", Style = "width:100%;", required = "required", @class = "form-control" })
                        </div>

                        <div class="col-md-6">
                            @Html.Label("Last Name : ")
                            @Html.TextBoxFor(modelItem => model.User_Last_Name, new { type = "text", placeholder = "Please Fill In *", Style = "width:100%;", required = "required", @class = "form-control" })
                        </div>

                        <div class="col-md-12">
                            @Html.Label("NRIC / Passport : ")
                            @Html.TextBoxFor(modelItem => model.User_IC, new { type = "text", placeholder = "Please Fill In *", Style = "width:100%;", required = "required", @class = "form-control" })
                        </div>

                        <div class="col-md-12">
                            @Html.Label("Permanent Address : ")
                            @Html.TextAreaFor(modelItem => model.User_Permanent_Address, new { type = "text", placeholder = "Please Fill In *", Style = "width:100%;", required = "required", @class = "form-control" })

                        </div>
                        <div class="col-md-12">
                            @Html.Label("Correspondence Address : ")
                            @Html.TextAreaFor(modelItem => model.User_Correspon_Address, new { type = "text", placeholder = "Please Fill In *", Style = "width:100%;", required = "required", @class = "form-control" })

                        </div>
                        <div class="col-md-12">
                            @Html.Label("Location : ")
                            @Html.DropDownListFor(modelItem => model.User_Location, new List<SelectListItem>
                                               { new SelectListItem{Text="Johor", Value="Johor"},
                                               new SelectListItem{Text="Kedah", Value="Kedah"},
                                               new SelectListItem{Text="Kelantan", Value="Kelantan"},
                                               new SelectListItem{Text="Kuala Lumpur", Value="Kuala Lumpur"},
                                               new SelectListItem{Text="Melaka", Value="Melaka"},
                                               new SelectListItem{Text="Negeri Sembilan", Value="Negeri Sembilan"},
                                               new SelectListItem{Text="Pahang", Value="Pahang"},
                                               new SelectListItem{Text="Perak", Value="Perak"},
                                               new SelectListItem{Text="Perlis", Value="Perlis"},
                                               new SelectListItem{Text="Pulau Pinang", Value="Pulau Pinang"},
                                               new SelectListItem{Text="Sabah", Value="Sabah"},
                                               new SelectListItem{Text="Sarawak", Value="Sarawak"},
                                               new SelectListItem{Text="Selangor", Value="Selangor"},
                                               new SelectListItem{Text="Terengganu", Value="Terengganu"},
                                               new SelectListItem{Text="Putrajaya", Value="Putrajaya"}}, "Select Location *", new { required = "required", Style = "width:100%;", @class = "form-control" })
                        </div>
                        <div class="col-md-4">
                            @Html.Label("Email : ")
                            @Html.TextBoxFor(modelItem => model.User_Email, new { type = "email", placeholder = "Please Fill In *", Style = "width:100%;", required = "required", @class = "form-control" })
                        </div>
                        <div class="col-md-4">
                            @Html.Label("Phone No : ")
                            @Html.TextBoxFor(modelItem => model.User_Phone, new { onkeypress = "return isNumber(event)", type = "text", placeholder = "Please Fill In *", Style = "width:100%;", required = "required", @class = "form-control", @title = "Please enter without (-)" })
                        </div>
                        <div class="col-md-4">
                            @Html.Label("Home No : ")
                            @Html.TextBoxFor(modelItem => model.User_Tel_Home, new { onkeypress = "return isNumber(event)", type = "text", placeholder = "Please Fill In *", Style = "width:100%;", required = "required", @class = "form-control", @title = "Please enter without (-)" })
                        </div>
                        <div class="col-md-4">
                            @Html.Label("Gender : ")<br />
                            @Html.RadioButtonFor(modelItem => model.User_Gender, "Male", new { required = "required" })
                            Male
                            <span>&nbsp;</span>
                            <span>&nbsp;</span>
                            <span>&nbsp;</span>
                            <span>&nbsp;</span>
                            <span>&nbsp;</span>
                            @Html.RadioButtonFor(modelItem => model.User_Gender, "Female", new { required = "required" })
                            Female
                        </div>
                        <div class="col-md-4">
                            @Html.Label("Age : ")
                            @Html.TextBoxFor(modelItem => model.User_Age, new { onkeypress = "return isNumber(event)", type = "text", placeholder = "Please Fill In *", Style = "width:100%;", required = "required", @class = "form-control" })
                        </div>
                        <div class="col-md-4">
                            @Html.Label("Marital Status : ")
                            @Html.TextBoxFor(modelItem => model.User_Marital_Status, new { type = "text", placeholder = "Single / Married / Divorced / Others, specify *", Style = "width:100%;", required = "required", @class = "form-control" })
                        </div>
                        <div class="col-md-4">
                            @Html.Label("Nationality : ")<br />
                            @Html.RadioButtonFor(modelItem => model.User_Nationality, "Malaysian", new { required = "required" })
                            Malaysian
                            <span>&nbsp;</span>
                            @Html.RadioButtonFor(modelItem => model.User_Nationality, "Non-Malaysian", new { required = "required" })
                            Non-Malaysian
                        </div>
                        <div class="col-md-4">
                            @Html.Label("Religion : ")
                            @Html.TextBoxFor(modelItem => model.User_Religion, new { type = "text", placeholder = "Please Fill In *", Style = "width:100%;", required = "required", @class = "form-control" })
                        </div>
                        <div class="col-md-4">
                            @Html.Label("Race : ")
                            @Html.TextBoxFor(modelItem => model.User_Race, new { type = "text", placeholder = "Please Fill In *", Style = "width:100%;", required = "required", @class = "form-control" })
                        </div>
                        <div class="col-md-4">
                            @Html.Label("Date of Birth : ")
                            @Html.TextBoxFor(modelItem => model.User_Date_Birth, new { type = "date", Style = "width:100%;", required = "required", @class = "form-control" })
                        </div>
                        <div class="col-md-4">
                            @Html.Label("Driving License : ")<br />
                            @Html.RadioButtonFor(modelItem => model.User_Driving_License, "Yes", new { required = "required", @id = "drive", value = "a", @class = "drive", name = "drive" })
                            Yes
                            <span>&nbsp;</span>
                            <span>&nbsp;</span>
                            <span>&nbsp;</span>
                            <span>&nbsp;</span>
                            <span>&nbsp;</span>
                            @Html.RadioButtonFor(modelItem => model.User_Driving_License, "No", new { required = "required", @id = "drive", value = "b", @class = "drive", name = "drive" })
                            No
                        </div>
                        <div class="col-md-4">
                            @Html.Label("Expected Salary : ")
                            @if (model.User_Expected_Salary != "RM ")
                            {
                                @Html.TextBoxFor(modelItem => model.User_Expected_Salary, new { type = "text", placeholder = "Please Fill In *", Style = "width:100%;", required = "required", @class = "form-control" })
                            }
                            else
                            {
                                @Html.TextBoxFor(modelItem => model.User_Expected_Salary, new { type = "text", Value = "RM ", placeholder = "Please Fill In *", Style = "width:100%;", required = "required", @class = "form-control" })
                            }
                        </div>

                        <div class="col-md-12 upload" style="padding-top: 20px;padding-bottom: 80px;">
                            <div class="col-md-4">
                                @Html.Label("Driving Class : ")
                                @Html.TextBoxFor(modelItem => model.User_Driving_Class, new { type = "text", placeholder = "Please Fill In *", Style = "width:100%;", @class = "form-control" })

                                @*@Html.CheckBoxFor(model => model.User_Name1, new { @class = "form-control", Name = "SomeProperty" })*@
                            </div>

                            <div class="col-md-6">
                                @Html.Label("Upload Driving License : ")
                                @Html.TextBoxFor(modelItem => model.User_Driving_Attach, new { @class = "form-control", placeholder = "Please Upload Attachment *", @readonly = "readonly", required = "required" })
                                <input type="file" accept=".PDF,.png,.jpg,.jpeg" name="DrivingLicense" class="file form-control" />
                            </div>
                        </div>

                        <div class="col-md-12 row" style="padding-top:10px">
                            <button type="submit" class="btn pull-right">Save Changes</button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
}

@if (ViewBag.Message != null)
{
    <script type="text/javascript">
            window.onload = function () {
                alert('@ViewBag.Message');
                 @*window.location.href = "@Url.Action("AboutMe", "Applicant")";*@
        };
    </script>
}

@section scripts {

    <script type="text/javascript">
        function isNumber(evt) {
            evt = (evt) ? evt : window.event;
            var charCode = (evt.which) ? evt.which : evt.keyCode;
            if (charCode > 31 && (charCode < 48 || charCode > 57)) {
                return false;
            }
            return true;
        }

        $(document).ready(function () {
            if ("@ViewBag.license" == "No")
            {
               $(".upload").hide();
            }

            $(".drive").change(function () {

                var val = $(".drive:checked").val();
                if (val == "Yes")
                {
                    $(".upload").show();

                } else
                {
                    $(".upload").hide();
                }
            });
        });
    </script>
}