@model OJAWeb.Models.ContactModel

@{
    ViewBag.Title = "Contact Edit";
}

@{
    Layout = "~/Views/Shared/_FormLayout.cshtml";
}

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />

<style>
    .nav_navbar a {
        text-decoration: none;
    }

    body {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        padding-bottom: 0px;
    }

    .form textarea {
        outline: 0;
        background: #f2f2f2;
        width: 100%;
        border: 0;
        margin: 0 0 15px;
        padding: 15px;
        box-sizing: border-box;
        font-size: 14px;
        border: 1px solid #ccc;
        background-color: #fff;
    }

    textarea.form-control {
        height: auto;
    }

    @@media (min-width: 768px) {
        .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
            margin-left: 0px;
        }
    }

    h3, .h3 {
        font-size: 28px;
    }

    h1, .h1, h2, .h2, h3, .h3 {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    h1, h2, h3, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
        color: #e96514;
    }
</style>

@using (Html.BeginForm("ContactInfoEdit", "Applicant", FormMethod.Post))
{
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12" style="padding-left: 200px;padding-top: 20px;padding-bottom: 80px;">
                <h3 class="title" style="text-align:left;padding-bottom: 10px;">
                    Contact
                    @*<a class="btn" href="@Url.Action("ContactInfo", "Applicant")"><< Back</a>*@
                </h3>
                @foreach (var model in Model.usersContact)
                {
                    <div class="form" id="form">
                        <div class="col-md-12">
                            <div style="color:red; font-size:12px">** State two(2) referees who are not blood-related to you</div>
                            <div style="background-color:#d6d6c2">Reference</div>
                        </div>

                        <div class="col-md-12">
                            @Html.Label("Name 1 : ")
                            @Html.TextBoxFor(modelItem => model.User_RName1, new { type = "text", placeholder = "Please Fill In *", required = "required", Style = "width:100%;", @class = "form-control" })
                        </div>

                        <div class="col-md-12">
                            @Html.Label("Occupation & Organization : ")
                            @Html.TextBoxFor(modelItem => model.User_ROccu1, new { type = "text", placeholder = "Please Fill In *", required = "required", Style = "width:100%;", @class = "form-control" })
                        </div>

                        <div class="col-md-12">
                            @Html.Label("Phone No : ")
                            @Html.TextBoxFor(modelItem => model.User_RPhone1, new { onkeypress = "return isNumber(event)", type = "text", placeholder = "Please Fill In *", Style = "width:100%;", required = "required", @class = "form-control", @title = "Please enter without (-)" })
                        </div>

                        <div class="col-md-6">
                            @Html.Label("Known Since Year : ")
                            @Html.TextBoxFor(modelItem => model.User_Known_Year1, new { type = "month", required = "required", Style = "width:100%;", @class = "form-control" })
                        </div>

                        <div class="col-md-6">
                            @Html.Label("Relation : ")
                            @Html.DropDownListFor(modelItem => model.User_RRelation1, new List<SelectListItem>
                                                { new SelectListItem{Text="Parent", Value="Parent"},
                                                new SelectListItem{Text="Sibling", Value="Sibling"},
                                                new SelectListItem{Text="Relative", Value="Relative"},
                                                new SelectListItem{Text="Friend", Value="Friend"}}, "Select Relation *", new { required = "required", Style = "width:100%;", @class = "form-control" })

                        </div>

                        <div class="col-md-12" style="padding-top:30px">
                            @Html.Label("Name 2 : ")
                            @Html.TextBoxFor(modelItem => model.User_RName2, new { type = "text", placeholder = "Please Fill In *", required = "required", Style = "width:100%;", @class = "form-control" })
                        </div>

                        <div class="col-md-12">
                            @Html.Label("Occupation & Organization : ")
                            @Html.TextBoxFor(modelItem => model.User_ROccu2, new { type = "text", placeholder = "Please Fill In *", required = "required", Style = "width:100%;", @class = "form-control" })
                        </div>

                        <div class="col-md-12">
                            @Html.Label("Phone No : ")
                            @Html.TextBoxFor(modelItem => model.User_RPhone2, new { onkeypress = "return isNumber(event)", type = "text", placeholder = "Please Fill In *", Style = "width:100%;", required = "required", @class = "form-control", @title = "Please enter without (-)" })
                        </div>

                        <div class="col-md-6">
                            @Html.Label("Known Since Year : ")
                            @Html.TextBoxFor(modelItem => model.User_Known_Year2, new { type = "month", required = "required", Style = "width:100%;", @class = "form-control" })
                        </div>

                        <div class="col-md-6">
                            @Html.Label("Relation : ")
                            @Html.DropDownListFor(modelItem => model.User_RRelation2, new List<SelectListItem>
                                                { new SelectListItem{Text="Parent", Value="Parent"},
                                                new SelectListItem{Text="Sibling", Value="Sibling"},
                                                new SelectListItem{Text="Relative", Value="Relative"},
                                                new SelectListItem{Text="Friend", Value="Friend"}}, "Select Relation *", new { required = "required", Style = "width:100%;", @class = "form-control" })

                        </div>

                        <div class="col-md-12" style="padding-top:50px">
                            <div style="color:red; font-size:12px">** State two(2) person not provided in Section above</div>
                            <div style="background-color:#d6d6c2">Emergency Contact</div>
                        </div>

                        <div class="col-md-12">
                            @Html.Label("Name 1 : ")
                            @Html.TextBoxFor(modelItem => model.User_EName1, new { type = "text", placeholder = "Please Fill In *", required = "required", Style = "width:100%;", @class = "form-control" })
                        </div>

                        <div class="col-md-12">
                            @Html.Label("Address : ")
                            @Html.TextAreaFor(modelItem => model.User_EPhone1, new { type = "text", placeholder = "Please Fill In *", required = "required", Style = "width:100%;", @class = "form-control" })
                        </div>

                        <div class="col-md-12">
                            @Html.Label("Occupation : ")
                            @Html.TextBoxFor(modelItem => model.User_EAddress1, new { type = "tel", placeholder = "Please Fill In *", required = "required", Style = "width:100%;", @class = "form-control" })
                        </div>

                        <div class="col-md-6">
                            @Html.Label("Phone No : ")
                            @Html.TextBoxFor(modelItem => model.User_EOccu1, new { onkeypress = "return isNumber(event)", type = "text", placeholder = "Please Fill In *", Style = "width:100%;", required = "required", @class = "form-control", @title = "Please enter without (-)" })
                        </div>

                        <div class="col-md-6">
                            @Html.Label("Relation : ")
                            @Html.DropDownListFor(modelItem => model.User_ERelation1, new List<SelectListItem>
                                                { new SelectListItem{Text="Parent", Value="Parent"},
                                                new SelectListItem{Text="Sibling", Value="Sibling"},
                                                new SelectListItem{Text="Relative", Value="Relative"},
                                                new SelectListItem{Text="Friend", Value="Friend"}}, "Select Relation *", new { required = "required", Style = "width:100%;", @class = "form-control" })

                        </div>

                        <div class="col-md-12" style="padding-top:30px">
                            @Html.Label("Name 2 : ")
                            @Html.TextBoxFor(modelItem => model.User_EName2, new { type = "text", placeholder = "Please Fill In *", required = "required", Style = "width:100%;", @class = "form-control" })
                        </div>

                        <div class="col-md-12">
                            @Html.Label("Address : ")
                            @Html.TextAreaFor(modelItem => model.User_EPhone2, new { type = "text", placeholder = "Please Fill In *", required = "required", Style = "width:100%;", @class = "form-control" })
                        </div>

                        <div class="col-md-12">
                            @Html.Label("Occupation : ")
                            @Html.TextBoxFor(modelItem => model.User_EAddress2, new { type = "tel", placeholder = "Please Fill In *", required = "required", Style = "width:100%;", @class = "form-control" })
                        </div>

                        <div class="col-md-6">
                            @Html.Label("Phone No : ")
                            @Html.TextBoxFor(modelItem => model.User_EOccu2, new { onkeypress = "return isNumber(event)", type = "text", placeholder = "Please Fill In *", Style = "width:100%;", required = "required", @class = "form-control", @title = "Please enter without (-)" })
                        </div>

                        <div class="col-md-6">
                            @Html.Label("Relation : ")
                            @Html.DropDownListFor(modelItem => model.User_ERelation2, new List<SelectListItem>
                                                { new SelectListItem{Text="Parent", Value="Parent"},
                                                new SelectListItem{Text="Sibling", Value="Sibling"},
                                                new SelectListItem{Text="Relative", Value="Relative"},
                                                new SelectListItem{Text="Friend", Value="Friend"}}, "Select Relation *", new { required = "required", Style = "width:100%;", @class = "form-control" })

                        </div>
                        <div class="col-md-12 row" style="padding-top:10px">
                            <button type="submit" class="btn pull-right">Save Changes</button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
}

@section scripts {

    <script type="text/javascript">
        function isNumber(evt) {
            evt = (evt) ? evt : window.event;
            var charCode = (evt.which) ? evt.which : evt.keyCode;
            if (charCode > 31 && (charCode < 48 || charCode > 57)) {
                return false;
            }
            return true;
        }
    </script>
}