@model OJAWeb.Models.EducationModel

@{
    ViewBag.Title = "Education";
}

@{
    Layout = "~/Views/Shared/_FormLayout.cshtml";
}

@*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />*@

<style>
    .institute {
        text-transform: uppercase;
        font-weight: bold;
    }

    .side {
        color: #999;
    }

    .about {
        padding: 3px;
    }

    .nav_navbar a {
        text-decoration: none;
    }

    body {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        padding-bottom: 0px;
    }


    .form textarea {
        /*font-family: "Roboto", sans-serif;*/
        outline: 0;
        background: #f2f2f2;
        width: 100%;
        border: 0;
        margin: 0 0 15px;
        padding: 15px;
        about-sizing: border-about;
        font-size: 14px;
    }

    textarea.form-control {
        height: auto;
    }

    @@media (min-width: 768px) {
        .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
            margin-left: 0px;
        }
    }

    /*.navbar-brand {
        float: none;
        height: 0px;
        padding: 0px;
        font-size: 0px;
        line-height: 0px;
    }*/

    h3, .h3 {
        font-size: 28px;
    }

    h1, .h1, h2, .h2, h3, .h3 {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    h1, h2, h3, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
        color: #e96514;
    }

    /*.navbar-brand > img {
        display: inline-block;
    }*/
</style>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12" style="padding-left: 200px;padding-top: 20px;padding-bottom: 80px;">
            <h3 class="title" style="text-align:left;padding-bottom: 10px;">
                Education
                <a href="@Url.Action("EducationEdit", "Applicant")"><i class="fa fa-fw fa-edit" style="font-size:20px"></i></a>
            </h3>
            @foreach (var model in Model.userseducation)
            {
                <div class="col-md-12 form" id="form" style="padding-top: 20px;">
                    <div class="about col-md-12">
                        <div class="col-md-2">
                            @Html.DisplayFor(modelItem => model.User_From_Year1)
                        </div>
                        <div class="col-md-10 institute">
                            @Html.DisplayFor(modelItem => model.User_Institute1)
                        </div>
                    </div>

                    <div class="about col-md-12">
                        <div class="col-md-2">
                        </div>
                        <div class="col-md-10">
                            @Html.DisplayFor(modelItem => model.User_Qualification1)
                        </div>
                    </div>

                    <div class="about col-md-12">
                        <div class="col-md-2">
                        </div>
                        <div class="col-md-2 side">
                            School Type
                        </div>
                        <div class="col-md-8">
                            @Html.DisplayFor(modelItem => model.User_School1)
                        </div>
                    </div>

                    <div class="about col-md-12">
                        <div class="col-md-2">
                        </div>
                        <div class="col-md-2 side">
                            Year End
                        </div>
                        <div class="col-md-8">
                            @Html.DisplayFor(modelItem => model.User_To_Year1)
                        </div>
                    </div>
                </div>

                <div class="col-md-12 form" id="form" style="padding-top: 50px;">
                    <div class="about col-md-12">
                        <div class="col-md-2">
                            @Html.DisplayFor(modelItem => model.User_From_Year2)
                        </div>
                        <div class="col-md-10 institute">
                            @Html.DisplayFor(modelItem => model.User_Institute2)
                        </div>
                    </div>

                    <div class="about col-md-12">
                        <div class="col-md-2">
                        </div>
                        <div class="col-md-10">
                            @Html.DisplayFor(modelItem => model.User_Qualification2)
                        </div>
                    </div>

                    <div class="about col-md-12">
                        <div class="col-md-2">
                        </div>
                        <div class="col-md-2 side">
                            School Type
                        </div>
                        <div class="col-md-8">
                            @Html.DisplayFor(modelItem => model.User_School2)
                        </div>
                    </div>

                    <div class="about col-md-12">
                        <div class="col-md-2">
                        </div>
                        <div class="col-md-2 side">
                            Year End
                        </div>
                        <div class="col-md-8">
                            @Html.DisplayFor(modelItem => model.User_To_Year2)
                        </div>
                    </div>
                </div>

                <div class="col-md-12 form" id="form" style="padding-top: 50px;">
                    <div class="about col-md-12">
                        <div class="col-md-2 side">
                            @Html.Label("Certificates / Achievements")
                        </div>
                        <div class="col-md-10 institute">
                            @Html.DisplayFor(modelItem => model.User_Cert_File)
                            @if (model.User_Cert_File != "NO CERTIFICATE ATTACHED")
                            {
                                @Html.ActionLink("View", "DownloadCert", "Applicant", new { Style = "background-color: #ed6d00" }, new { @class = "btn" })
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>