<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Online Job Application</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />

        <link rel="stylesheet" href="~/css/main.css" />
        <link rel="stylesheet" href="~/css/font-awesome.min.css" />
        <link rel="stylesheet" href="~/css/chartist-custom.css" />
        <link rel="stylesheet" href="~/fonts" />
    </environment>
    @*<environment exclude="Development">
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
                  asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
                  asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
            <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        </environment>*@

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300">
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="@Url.Content("~/Scripts/jquery-1.5.1.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

    <style>
        .center1 {
            text-align: center;
            /*border: 3px solid green;*/
            margin: auto;
            width: 40%;
            left: 0;
            right: 0;
            position: fixed;
            top: 40px;
            z-index: 9999;
            color: #8a6d3b;
            background-color: #fcf8e3;
            border-color: #faebcc;
            padding: 15px;
            margin-bottom: 20px;
            border: 1px solid transparent;
            border-radius: 4px;
            margin-top: 150px;
        }

        .sidebar {
            height: 100%;
            width: 180px;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            background-color: #222;
            overflow-x: hidden;
            padding-top: 70px;
        }

            .sidebar a {
                padding: 6px 8px 15px 30px;
                text-decoration: none;
                font-size: 14px;
                color: #818181;
                display: block;
            }

                .sidebar a:hover {
                    color: #f1f1f1;
                }

        @@media screen and (max-height: 450px) {
            .sidebar {
                padding-top: 15px;
            }

                .sidebar a {
                    font-size: 18px;
                }
        }

        hr {
            display: block;
            unicode-bidi: isolate;
            overflow: hidden;
            border-style: inset;
        }

        body {
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            padding-bottom: 0px;
        }

        footer {
            left: 0;
            bottom: 0;
            width: 100%;
            position: fixed;
        }

        h3 {
            color: #e96514;
            font-size: 42px;
            text-align: center;
            padding: 0px;
            margin: 0px;
        }

        .box:hover {
            color: #ed6d00;
        }

        .nav_navbar {
            overflow: hidden;
            background-color: #222;
        }

            .nav_navbar a {
                float: left;
                font-size: 14px;
                color: white;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
            }

        .nav_dropdown {
            float: left;
            overflow: hidden;
        }

            .nav_dropdown .nav_dropbtn {
                font-size: 14px;
                border: none;
                outline: none;
                color: white;
                padding: 14px 16px;
                background-color: inherit;
                font-family: inherit;
                margin: 0;
            }

            .nav_navbar a:hover, .nav_dropdown:hover .dropbtn {
                color: #ddd;
            }

        .nav_dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
        }

            .nav_dropdown-content a {
                float: none;
                font-size: 14px;
                color: white;
                padding: 9px 16px;
                text-decoration: none;
                display: block;
                text-align: left;
                background-color: #222;
            }

                .nav_dropdown-content a:hover {
                    color: #ddd;
                }

        .nav_dropdown:hover .nav_dropdown-content {
            display: block;
        }

        .btn {
            border-radius: 20px !important;
            background-color: #e96514;
            color: #ffffff !important;
            border: none;
            padding: 10px 40px;
            cursor: pointer;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            font-size: 14px;
            -webkit-appearance: none;
            padding: 7px 18px;
        }

            .btn:hover, .btn button:active, .btn:focus {
                background: #ffa31a;
            }

        a.btn {
            padding: 4px 12px 4px 12px;
            margin-top: 10px;
            margin-bottom: 12px
        }

        @@media screen and (max-width: 600px) {
            .nav_navbar a, .nav_dropdown, .nav_dropdown .nav_dropdown-content {
                display: none;
            }

            .navbar-header a.navbar-toggle {
                float: right;
                display: block;
            }
        }

        @@media screen and (max-width: 600px) {
            .nav_navbar.responsive {
                position: relative;
            }

            .navbar-header.responsive .navbar-toggle {
                position: absolute;
                right: 0;
                top: 0;
            }

            .nav_navbar.responsive a {
                float: none;
                display: block;
                text-align: left;
            }

            .nav_navbar.responsive .nav_dropdown {
                float: none;
                display: block;
                text-align: left;
            }

            .nav_navbar.responsive .nav_dropdown-content {
                position: relative;
            }

            .nav_navbar.responsive .nav_dropdown .nav_dropbtn {
                display: block;
                width: 100%;
                text-align: left;
            }
        }
    </style>
    <script>
        function myFunction() {
            var x = document.getElementById("navbar-collapse");
            if (x.className === "nav_navbar") {
                x.className += " responsive";
            } else {
                x.className = "nav_navbar";
            }
        }
    </script>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a href="javascript:void(0);" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" onclick="myFunction()">
                    <i class="fa fa-bars" style="color:white"></i>
                </a>
                <a href="@Url.Action("Index", "Applicant")" class="navbar-brand">
                    <img style="height: 37px; margin-top: -6px;" src="~/images/logo.png" title="ABX" alt="ABX" />
                </a>
            </div>

            <div class="nav_navbar" id="navbar-collapse">
                @Html.ActionLink("Home", "Index", "Applicant")
                <div class="nav_dropdown">
                    <button class="nav_dropbtn">
                        Jobs
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="nav_dropdown-content">
                        @Html.ActionLink("Job Opportunities", "JobRegion", "Applicant")
                    </div>
                </div>
                @Html.ActionLink("Contact", "Contact", "Applicant")
                @Html.ActionLink("My Job", "MyJob", "Applicant")



                <div class="login" style="float:right;">
                    <div class="nav_dropdown">
                        <div style="padding: 4px 12px 4px 12px; margin-top: 10px;margin-bottom: 12px;color:white">
                            Welcome @ViewBag.User_ShortName
                            <i class="fa fa-caret-down" style="font-size: 14px;" aria-hidden="true"></i>
                        </div>
                        <div class="nav_dropdown-content">
                            @Html.ActionLink("My Profile", "AboutMe", "Applicant")
                            @Html.ActionLink("My Credential", "Credential", "Applicant")
                        </div>
                    </div>
                    @Html.ActionLink("Logout", "Logout", "Applicant", new { Style = "background-color: #ed6d00" }, new { @class = "btn" })
                </div>

            </div>

        </div>
    </nav>

    <partial name="_CookieConsentPartial" />

    <div class="container body-content" style="padding-left: 0px;padding-right: 0px;width: 100%;">
        @RenderBody()

        <div class="sidebar">
            <h4 style="color: #818181">&nbsp;&nbsp; @ViewBag.User_ShortName</h4>
            <h5 style="color: #818181">&nbsp;&nbsp; View my profile</h5>
            <hr />
            <a href="@Url.Action("AboutMe", "Applicant")"><i class="fa fa-fw fa-user"></i> About Me</a>
            <a href="@Url.Action("Education", "Applicant")"><i class="fa fa-fw fa-graduation-cap "></i> Education</a>
            <a href="@Url.Action("Employment", "Applicant")"><i class="fa fa-fw fa-users"></i> Employment</a>
            <a href="@Url.Action("Linguistic", "Applicant")"><i class="fa fa-fw fa-comments-o"></i> Linguistics &#38; Skills</a>
            <a href="@Url.Action("AddInfo", "Applicant")"><i class="fa fa-fw fa-clipboard"></i> Additional Info</a>
            <a href="@Url.Action("ContactInfo", "Applicant")"><i class="fa fa-fw fa-phone"></i> Contact</a>
            <a href="@Url.Action("Resume", "Applicant")"><i class="fa fa-fw fa-paperclip"></i> Uploaded Resume</a>
        </div>
        <footer style="background-color:#d6d6c2">
            <center>Copyright &copy; ABX EXPRESS (M) SDN BHD. All Rights Reserved.</center>
        </footer>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>

<div id="divPopupTimeOut" class="center1">
    Your session is about to expire!
    <br />
    <span id="CountDownHolder"></span>
    <br />
    Click OK to continue your session.
    <div class="row">
        <div class="text-center button-block" style="text-align:center; margin-top:20px;">
            <button type="button" class="btn btn-default btn-sm" onclick="SessionTimeout.sendKeepAlive();">OK</button>
        </div>
    </div>
</div>

@functions {
    public int PopupShowDelay
    {
        get
        {
            return 1000 * (Convert.ToInt32(FormsAuthentication.Timeout.TotalSeconds) - 130);
        }
    }
}

<script type="text/javascript">
    var loginUrl='@Url.Action("Login", "Home")';
    var extendMethodUrl='@Url.Action("ExtendSession","Home")';
    $(document).ready(function(){
            SessionTimeout.schedulePopup();
        });

    window.SessionTimeout = (function() {
            var _timeLeft, _popupTimer, _countDownTimer;
            var stopTimers = function() {
                window.clearTimeout(_popupTimer);
                window.clearTimeout(_countDownTimer);
            };
            var updateCountDown = function() {
                var min = Math.floor(_timeLeft / 60);
                var sec = _timeLeft % 60;
                if(sec < 10)
                    sec = "0" + sec;

                document.getElementById("CountDownHolder").innerHTML = min + ":" + sec;

                if(_timeLeft > 0) {
                    _timeLeft--;
                    _countDownTimer = window.setTimeout(updateCountDown, 1000);
                } else  {
                    document.location = loginUrl;
                }
            };
            var showPopup = function() {
            $("#divPopupTimeOut").show();
                _timeLeft = 120;
                updateCountDown();
            };
            var schedulePopup = function() {
            $("#divPopupTimeOut").hide();
                stopTimers();
                _popupTimer = window.setTimeout(showPopup, @PopupShowDelay);
            };
            var hidePopup=function(){
            $("#divPopupTimeOut").hide();
            };
            var sendKeepAlive = function() {
                stopTimers();
                $("#divPopupTimeOut").hide();
                $.ajax({
                    type: "GET",
                    url: extendMethodUrl,
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function successFunc(response) {
                        SessionTimeout.schedulePopup();
                    },
                    error:function(){
                    }
                });
            };
            return {
                schedulePopup: schedulePopup,
                sendKeepAlive: sendKeepAlive,
                hidePopup:hidePopup,
                stopTimers:stopTimers,
            };

        })();
</script>