@{
    ViewData["Title"] = "Career Manager";
}

@{
    Layout = "~/Views/Shared/_SuperadminLayout.cshtml";
}

<style>
    .text {
        text-align: center;
        font-size: 15px;
    }

    ul {
        display: inline-flex;
        position: absolute;
        top: 50%;
        left: 48%;
        transform: translate(-50%, -50%);
    }

        ul li {
            list-style: none;
            padding: 40px;
        }

            ul li a {
                width: 150px;
                height: 150px;
                background-color: #ed6d00;
                text-align: center;
                line-height: 80px;
                font-size: 55px;
                margin: 0 10px;
                display: block;
                border-radius: 50%;
                position: relative;
                overflow: hidden;
                border: 3px solid #fff;
                z-index: 1;
            }

                ul li a .icon {
                    position: relative;
                    color: #fff;
                    transition: .5s;
                    z-index: 3;
                    margin: 44px;
                }

                ul li a:hover .icon {
                    color: #fff;
                    transform: rotateY(360deg);
                }

                ul li a:before {
                    content: "";
                    position: absolute;
                    top: 100%;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: #222;
                    transition: .5s;
                    z-index: 2;
                }

                ul li a:hover:before {
                    top: 0;
                }

    @@media screen and (max-width: 767px) {
        ul {
            display: block;
            padding-top: 800px;
        }
    }
</style>

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous">
</script>

<h3 class="title" style=" text-align: center;padding-bottom: 10px;padding-top: 20px;">Career Manager</h3>

<ul>
    <li>
        <a href="@Url.Action("RegionManager", "Superadmin")">
            <i class="fas fa-globe-asia icon"></i>
        </a>
        <div class="text">State Manager</div>
    </li>
    <li>
        <a href="@Url.Action("CompanyManager", "Superadmin")">
            <i class="fas fa-building icon"></i>
        </a>
        <div class="text">Company Manager</div>
    </li>
    <li>
        <a href="@Url.Action("DepartManager", "Superadmin")">
            <i class="fas fa-users icon"></i>
        </a>
        <div class="text">Department Manager</div>

    </li>
    <li>
        <a href="@Url.Action("DCManager", "Superadmin")">
            <i class="fas fa-store icon"></i>
        </a>
        <div class="text">DC Manager</div>

    </li>
    <li>
        <a href="@Url.Action("JobManager", "Superadmin")">
            <i class="fas fa-briefcase icon"></i>
        </a>
        <div class="text">Job Manager</div>
    </li>
</ul>