@model OJAWeb.Models.LoginModel

@{
    ViewBag.Title = "User Login";
}

@{
    Layout = "~/Views/Shared/_SuperadminLayout.cshtml";
}

<style>
    .btn {
        border-radius: 20px !important;
        background-color: #e96514;
        color: #ffffff !important;
        border: none;
        padding: 10px 40px;
        cursor: pointer;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 14px;
        -webkit-appearance: none;
        padding: 7px 18px;
    }

        .btn:hover, .btn button:active, .btn:focus {
            background: #ffa31a;
        }

    a.btn {
        padding: 4px 12px 4px 12px;
        margin-top: 10px;
        margin-bottom: 12px
    }

    td {
        text-align: center;
    }

    th {
        text-align: center;
    }

    h2 {
        color: #e96514;
        margin: 0px;
    }

    @@media screen and (max-width: 767px) {
        .main-content {
            padding: 0px;
        }
    }

    .panel .panel-heading, .panel .panel-body, .panel .panel-footer {
        padding-left: 0px;
        padding-right: 0px;
    }
</style>

<div id="wrapper">
    <div class="main">
        <div class="main-content">
            <div class="col-md-6 panel" style="padding-top: 50px;padding-bottom:50px">
                <div class="panel-body">
                    <div style="color:red; font-size:12px">** Attention, any INACTIVE user will not be able to login system.</div>

                    <table class="table" id="userlogin">
                        <thead>
                            <tr>
                                <th>No.</th>
                                <th>User Email</th>
                                <th>User Profile</th>
                                <th>Active</th>
                                <th>Date Registered</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        @{ int a = 0; }
                        @foreach (var model in Model.loginmodel)
                        {
                            <tbody>
                                <tr>
                                    <td>
                                        @(++a)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => model.User_LoginID)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => model.Profile_Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => model.IsActive)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => model.Created_Date)
                                    </td>
                                    <td>
                                        <a href="@Url.Action("EditUser", "Superadmin",new { id = model.ID })">
                                            <span class="icon"><i class="fa fa-pencil" style="color: #ed6d00;" title="View User"></i></span>
                                        </a>
                                        @*&nbsp;
                                            <a onclick="myFunction()" href="@Url.Action("ConfirmDelete", "Superadmin",new { id = model.Profile_Name, id2 = model.User_Name })">
                                                <span class="icon"><i class="fa fa-user-times" style="color: #ed6d00;" title="Withdraw Application"></i></span>
                                            </a>*@
                                    </td>
                                    @*<td>
                                        <a onclick="myFunction()" href="@Url.Action("DeleteUser", "Superadmin",new { id = model.ID })">
                                            <span class="icon"><i class="fa fa-trash" style="color: #ed6d00;" title="Delete User"></i></span>
                                        </a>
                                    </td>*@
                                </tr>
                            </tbody>
                        }
                    </table>
                </div>
                <button type="submit" onclick="Edit()" class="btn pull-right">Add User</button>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid edit">
    @using (Html.BeginForm("SubmitUser", "Superadmin", FormMethod.Post))
    {
        <div class="row">
            <div class="col-md-12" style="padding-top: 20px;padding-bottom: 80px;">
                <div class="col-md-6 form" id="form">
                    <div class="col-md-12">
                        @Html.Label("Full Name : ")
                        @Html.TextBoxFor(text => text.User_Name, new { type = "text", placeholder = "Please Fill In *", Style = "width:100%;", required = "required", @class = "form-control", autocomplete = "off" })
                    </div>

                    <div class="col-md-12">
                        @Html.Label("Short Name : ")
                        @Html.TextBoxFor(text => text.User_ShortName, new { type = "text", placeholder = "Please Fill In *", Style = "width:100%;", required = "required", @class = "form-control", autocomplete = "off" })
                    </div>

                    <div class="col-md-12">
                        @Html.Label("User Login : ")
                        @Html.TextBoxFor(text => text.User_LoginID, new { type = "email", placeholder = "Email *", Style = "width:100%;", required = "required", @class = "form-control", autocomplete = "off" })
                    </div>

                    <div class="col-md-12">
                        @Html.Label("User Password : ")
                        @Html.TextBoxFor(text => text.User_Password2, new { id = "password", type = "password", placeholder = "Please Fill In *", Style = "width:100%;", required = "required", @class = "form-control", autocomplete = "off" })
                        <input type="checkbox" runat="server" onclick="myPassword()" />
                        Show Password
                    </div>
                    <div class="col-md-12">
                        @Html.Label("User Profile : ")
                        @Html.DropDownListFor(text => text.Profile_ID, new SelectList(@ViewBag.ProfileList, "Value", "Text"), "Select Profile *", new { required = "required", @class = "form-control" })

                        @*@Html.DropDownListFor(text => text.Profile_ID, new List<SelectListItem>
                            { new SelectListItem{Text="Admin", Value="2"},
                            new SelectListItem{Text="Superadmin", Value="3"}}, "Select Profile *", new { required = "required", Style = "width:100%;", @class = "form-control" })*@
                    </div>
                    <div class="col-md-12 row" style="padding-top:10px">
                        <button type="submit" class="btn pull-right">Save</button>
                        <button type="button" onclick="Cancel()" class="btn pull-right">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

@section scripts {
    <script src="~/js/filtertable.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $(".edit").hide();
            $('#userlogin').filterTable();
        });

        function myFunction() {
            //var answer = window.confirm("Are you sure want to withdraw this application ?");
            alert("Delete Successfully");
        }

        function Edit() {
            $(".edit").show();
        }

        function Cancel() {
            $(".edit").hide();
        }

        function myPassword() {
            var x = document.getElementById("password");
            if (x.type === "password") {
                x.type = "text";
            } else {
                x.type = "password";
            }
        }
    </script>
}