@model OJAWeb.Models.JobApprovalModel
@{
    ViewBag.Title = "View Job";
}

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />*@

<style>


    .institute {
        text-transform: uppercase;
        font-weight: bold;
    }

    .about {
        padding: 3px;
    }

    .nav_navbar a {
        text-decoration: none;
    }

    body {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        padding-bottom: 0px;
    }


    .form textarea {
        outline: 0;
        background: #f2f2f2;
        width: 100%;
        border: 0;
        margin: 0 0 15px;
        padding: 15px;
        about-sizing: border-about;
        font-size: 14px;
    }

    textarea.form-control {
        height: auto;
    }

    @@media (min-width: 768px) {
        .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
            margin-left: 0px;
        }
    }

    h3, .h3 {
        font-size: 28px;
    }

    h1, .h1, h2, .h2, h3, .h3 {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    h1, h2, h3, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
        color: #e96514;
    }

    .info-box {
        box-shadow: 0 0 1px rgba(0, 0, 0, 0.125), 0 1px 3px rgba(0, 0, 0, 0.2);
        border-radius: 0.25rem;
        background: #ffffff;
        display: -ms-flexbox;
        display: flex;
        margin-bottom: 1rem;
        min-height: 80px;
        padding: .5rem;
        position: relative;
        width: 100%;
    }

        .info-box .info-box-icon {
            border-radius: 0.25rem;
            -ms-flex-align: center;
            align-items: center;
            display: -ms-flexbox;
            display: flex;
            font-size: 1.875rem;
            -ms-flex-pack: center;
            justify-content: center;
            text-align: center;
            width: 70px;
        }


            .info-box .info-box-icon > img {
                max-width: 100%;
            }

        .info-box .info-box-content {
            display: -ms-flexbox;
            display: flex;
            -ms-flex-direction: column;
            flex-direction: column;
            -ms-flex-pack: center;
            justify-content: center;
            line-height: 120%;
            -ms-flex: 1;
            flex: 1;
            padding: 0 10px;
        }
</style>

@*<div class="container-fluid">
        <div class="row">
            <div class="col-md-12 " style="padding-left: 200px;padding-top: 20px;padding-bottom: 80px;">
                @foreach (var model in Model.JobDescription)
                {
                    <div class="col-md-12 form" id="form" style="padding-top: 20px;">
                        <div class="about col-md-12">
                            <div class="col-md-3">
                                @Html.Label("Career Level")
                            </div>
                            <div class="col-md-9">
                                @Html.DisplayFor(modelItem => model.User_Career_Level)
                            </div>
                        </div>

                        <div class="about col-md-12 ">
                            <div class="col-md-3">
                                @Html.Label("Experience")
                            </div>
                            <div class="col-md-9">
                                @Html.DisplayFor(modelItem => model.User_Years_Exp)
                            </div>
                        </div>

                        <div class="about col-md-12 ">
                            <div class="col-md-3 ">
                                @Html.Label("Department")
                            </div>
                            <div class="col-md-9">
                                @Html.DisplayFor(modelItem => model.Depart_Name)
                            </div>
                        </div>

                        <div class="about col-md-12 ">
                            <div class="col-md-3 ">
                                @Html.Label("Location")
                            </div>
                            <div class="col-md-9">
                                @Html.DisplayFor(modelItem => model.Location_Job)
                            </div>
                        </div>

                        <div class="about col-md-12 ">
                            <div class="col-md-3 ">
                                @Html.Label("Qualification")
                            </div>
                            <div class="col-md-9">
                                @Html.DisplayFor(modelItem => model.User_Qualification)
                            </div>
                        </div>

                        <div class="about col-md-12 ">
                            <div class="col-md-3 ">
                                @Html.Label("Job Type")
                            </div>
                            <div class="col-md-9">
                                @Html.DisplayFor(modelItem => model.Job_Type)
                            </div>
                        </div>

                        <div class="about col-md-12 ">
                            <div class="col-md-3 ">
                                @Html.Label("Posted on")
                            </div>
                            <div class="col-md-9">
                                @Html.DisplayFor(modelItem => model.Created_Date)
                            </div>
                        </div>

                        <div class="about col-md-12 ">
                            <div class="col-md-3 ">
                                @Html.Label("Job Descriptions")
                            </div>
                            <div class="col-md-9">
                                @Html.DisplayFor(modelItem => model.Job_Description)
                            </div>
                        </div>

                        <div class="about col-md-12 ">
                                <div class="col-md-3 "></div>
                                <div class="col-md-9 institute">
                                    @Html.DisplayFor(modelItem => model.User_Driving_Attach)
                                    @Html.ActionLink("View", "DownloadDL", "Applicant", new { Style = "background-color: #ed6d00k", target = "_blank" }, new { @class = "btn" })
                                </div>
                            </div>
                    </div>
                }
            </div>
        </div>
    </div>*@

<div class="container-fluid">
    @using (Html.BeginForm("SubmitStatus", "Admin", FormMethod.Post))
    {
        <div class="col-md-12 " style="padding-top: 20px;padding-bottom: 80px;">
            <div class="info-box">
                @foreach (var model in Model.jobapproval)
                {
                    <div class="col-md-12 form" id="form" style="padding-top: 20px;">
                        <div class="col-md-6">
                            <div class="about col-md-12">
                                <div class="col-md-4">
                                    @Html.Label("Applicant Name")
                                </div>
                                <div class="col-md-8">
                                    @Html.DisplayFor(modelItem => model.User_Name)
                                </div>
                            </div>

                            <div class="about col-md-12 ">
                                <div class="col-md-4 ">
                                    @Html.Label("Position")
                                </div>
                                <div class="col-md-8">
                                    @Html.DisplayFor(modelItem => model.Position_Name)
                                </div>
                            </div>

                            <div class="about col-md-12 ">
                                <div class="col-md-4 ">
                                    @Html.Label("Department")
                                </div>
                                <div class="col-md-8">
                                    @Html.DisplayFor(modelItem => model.Dep_Name)
                                </div>
                            </div>

                            <div class="about col-md-12 ">
                              <div class="col-md-4 ">
                                @Html.Label("Applicant Resume")
                              </div>
                              <div class="col-md-8 institute">
                                @Html.DisplayFor(modelItem => model.User_Resume)
                                @if (model.User_Resume != "NO FILE")
                                {
                                  <a href="@Url.Action("DownloadResume", "Admin", new { id = model.Position_ID, applicantId = ViewBag.ApplicantID })">
                                    <span class="resumefile">View</span>
                                  </a>
                                }
                              </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="about col-md-12 ">
                                <div class="col-md-4 ">
                                    @Html.Label("Date Applied")
                                </div>
                                <div class="col-md-8">
                                    @Html.DisplayFor(modelItem => model.Created_Date)
                                </div>
                            </div>

                            <div class="about col-md-12 ">
                                <div class="col-md-4 ">
                                    @Html.Label("Status")
                                </div>
                                <div class="col-md-8">
                                    @Html.DropDownListFor(text => text.Status_Code, new SelectList(@ViewBag.SystemList, "Value", "Text", ViewBag.SelectedSystemID), "Select Status *", new { required = "required", @class = "form-control", @id = "status" })
                                </div>
                            </div>

                            @Html.TextBoxFor(modelItem => model.Job_ID, new { Style = "display:none" })

                            <div class="col-md-12 row" style="padding-top:20px">
                                @Html.TextBoxFor(modelItem => model.User_ID, new { Style = "width:100%;display:none" })
                                @Html.TextBoxFor(modelItem => model.Position_ID, new { Style = "width:100%;display:none" })
                            </div>
                        </div>

                        <div class="col-md-12 edit" style="padding-top: 20px;padding-bottom: 80px;">
                            <div class="col-md-6 form" id="form"></div>

                            <div class="col-md-6 form" id="form">
                                <div class="col-md-12">
                                    @Html.Label("Date of Interview : ")
                                    @Html.TextBoxFor(modelItem => model.Interview_Date, "{0:yyyy-MM-dd}", new { type = "date", Style = "width:100%;", required = "required", @class = "form-control dateIn", @ReadOnly = true, @id = "date" })
                                    @*@Html.TextBoxFor(modelItem => model.Interview_Date, new { @class = "datepicker", @placeholder = "Date From", @required = "required", autocomplete = "off" })*@
                                </div>
                                @if (ViewBag.status == "4")
                                {
                                    <div class="col-md-12">
                                        @Html.Label("Time of Interview : ")
                                        @Html.TextBoxFor(modelItem => model.Interview_Time, new { type = "text", Style = "width:100%;", required = "required", @class = "form-control", @Value = model.Interview_Time, @ReadOnly = true, @id = "time" })
                                    </div>
                                }
                                else
                                {
                                    <div class="col-md-12">
                                        @Html.Label("Time of Interview : ")
                                        @Html.TextBoxFor(modelItem => model.Interview_Time, "{0:HH-mm}", new { type = "time", Style = "width:100%;", required = "required", @class = "form-control", @Value = model.Interview_Time })
                                    </div>
                                }
                                <div class="col-md-12">
                                    @Html.Label("Venue of Interview : ")
                                    @Html.TextBoxFor(modelItem => model.Interview_Venue, new { type = "text", placeholder = "Please Fill In *", Style = "width:100%;", required = "required", @class = "form-control", @ReadOnly = true, @id = "venue" })
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn pull-right">Save Changes</button>
                    </div>
                }
            </div>
        </div>
    }
</div>

@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {

            if (@ViewBag.status != "4") {
                $(".edit").hide();

                var date = document.getElementById('date');
                date.readOnly = false;
                date.value = "";

                var venue = document.getElementById('venue');
                venue.readOnly = false;
                venue.value = "";
            }
        });

        $(function () {
            $("#status").change(function () {
                if ($(this).val() == "4") {
                    $(".edit").show();

                } else {
                    $(".edit").hide();
                }
            });
        });
    </script>
}